table td {
  vertical-align: middle;
}
div.panel-options{
  position: relative;
  /*padding: .75rem 1.25rem;*/
  padding: 0.1rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}
.alert-light{
  color: #000000 !important;
}
.director {
  cursor: pointer;
}
.director:hover {
  color: darkorange;
}
ngb-alert {
  white-space: normal;
}

.star-favorite {
  color: orange;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  transform: scale3d(1.0, 1.0, 1.0);
  -webkit-transform: scale3d(1.0, 1.0, 1.0);
  -moz-transform: scale3d(1.0, 1.0, 1.0);
}
.star-simple {
  color: dimgrey;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  transform: scale3d(1.0, 1.0, 1.0);
  -webkit-transform: scale3d(1.0, 1.0, 1.0);
  -moz-transform: scale3d(1.0, 1.0, 1.0);

}
