table td {
  vertical-align: middle;
}
div.panel-options{
  position: relative;
  /*padding: .75rem 1.25rem;*/
  padding: 0.1rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}
.alert-light{
  color: #000000 !important;
}
.director {
  cursor: pointer;
}
.director:hover {
  color: darkorange;
}
