<div class="container">
<div style="text-align:center">
  <h5>
    API testing task <br>
    <span style="color: darkgray">(source - http://www.myapifilms.com)</span>
  </h5>
</div>
<ul>
  <li><button [routerLink]="['/top20']" class="btn btn-default btn-outline-primary"
              routerLinkActive="active" type="button">top 20 films</button></li>
  <li><button [routerLink]="['/favorite']" class="btn btn-default btn-outline-primary"
              routerLinkActive="active" type="button">favorite</button></li>
  <li><button [routerLink]="['/graphics']" class="btn btn-default btn-outline-primary"
              routerLinkActive="active" type="button">graphics</button></li>
  <li><button [routerLink]="['/about']" class="btn btn-default btn-outline-primary"
              routerLinkActive="active" type="button">about</button></li>
</ul>
<router-outlet></router-outlet>

</div>
