<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{filmName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{_trailer.description}}
    <br><br>
    <iframe width="100%" height="300" [src]="videoURL | safeVideo"></iframe>
  </div>
</ng-template>

<ng-container *ngFor="let trailer of _trailer.qualities; let i='index'">
  <button class="btn btn-sm btn-outline-primary" (click)="open(content); setVideoUrl(i)">{{trailer.quality}}</button>
  <br>
</ng-container>
