<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{filmName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{_trailer.description}}
    <br>
  </div>
  <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>-->
  <!--</div>-->
</ng-template>

<!--{{_trailer | json}}-->
<ng-container *ngFor="let trailer of _trailer.qualities">
  <button class="btn btn-sm btn-outline-primary" (click)="open(content)">{{trailer.quality}}</button>
  <br>
</ng-container>
<!--<hr>-->

<!--<pre>{{closeResult}}</pre>-->
