ngb-alert {
  white-space: normal;
}

.star-favorite {
  position: absolute;
  bottom: 12px;
  right: 50%;
  color: orange;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  transform: scale3d(1.0, 1.0, 1.0);
  -webkit-transform: scale3d(1.0, 1.0, 1.0);
  -moz-transform: scale3d(1.0, 1.0, 1.0);
}
.star-simple {
  position: absolute;
  bottom: 12px;
  right: 50%;
  color: dimgrey;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  transform: scale3d(1.0, 1.0, 1.0);
  -webkit-transform: scale3d(1.0, 1.0, 1.0);
  -moz-transform: scale3d(1.0, 1.0, 1.0);

}
table td {
  vertical-align: middle !important;
}
.director {
  cursor: pointer;
}
.director:hover {
  color: darkorange;
}
